<!-- Sidebar
    <div class="sidebar">
      <a href="@Url.Action("TrangChuAdmin", "TrangChu")"><h4 class="text-center">Admin Panel</h4></a>
      <hr />
      <a href="@Url.Action("QuanLyLoaiSanPham", "Admin")">Quản Lý Loại Sản Phẩm</a>
      <hr />
      <a href="@Url.Action("QuanLySanPham", "Admin")">Quản Lý Sản Phẩm</a>
      <hr />
      <a href="@Url.Action("QuanLyThuongHieu", "Admin")">Quản Lý Thương Hiệu</a>
      @*<a href="#">Thêm Thương Hiệu</a>*@
      <hr />
      <a href="@Url.Action("QuanLyDonHang", "Admin")">Quản lý đơn hàng</a>
      <a href="@Url.Action("QuanLyKhachHang", "Admin")">Quản lý tài khoản khách hàng</a>
      <a href="@Url.Action("QuanLyAdmin", "Admin")">Quản lý tài khoản Admin</a>
      <hr />
      <a href="@Url.Action("TrangChu", "TrangChu")">Quay lại trang chủ User</a>
      <a href="@Url.Action("DangXuat", "NguoiDung")" class="text-danger">Đăng Xuất</a>
  </div> -->
<div>
  <!-- Sidebar -->
  <div class="sidebar">
    <a routerLink="/home">
      <h4 class="text-center">Admin Panel</h4>
    </a>
    <hr />
    <a routerLink="/home/movies" routerLinkActive="active">Quản Lý phim</a>
    <hr />
    <a routerLink="/home/cinemas" routerLinkActive="active">Quản Lý Cinema</a>
    <hr />
    <a routerLink="/home/showtimes" routerLinkActive="active">Quản lý suất chiếu</a>
    <a routerLink="/home/customers" routerLinkActive="active">Quản lý tài khoản khách hàng</a>
    <a routerLink="/home/admins" routerLinkActive="active">Quản lý tài khoản Admin</a>
    <hr />
    <a (click)="logout()" class="text-danger" style="cursor: pointer;">Đăng Xuất</a>
  </div>

  <!-- Main content -->
  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<!-- Include Bootstrap JS -->

<!-- Render optional scripts -->